extends ../../../layout

block content
    p.paragraph Слова нужно разделять "_"
    img(src=`${host}/static/tasks-content/joy.is_it_skan.png` style='width: 200px;')
    a.link.paragraph(
        href=`${host}/static/tasks-content/joy.is_it_skan.png`
    ) ссылочка