header.header
    nav.navigation.container.container_block_header
        +list(
            [
                { value: 'Главная', href: '/' },
                { value: 'Таски', href: '/tasks' },
                { value: 'Хелпа', href: '/help' }
            ],
            'block_header'
        )