extends ../../../layout

block content
    img(src=`${host}/static/tasks-content/task-png.png` width='70')
    a.paragraph.link(
        href=`${host}/static/tasks-content/task-png.png`
    ) Понятия не имею что с этим делать