extends ../../../layout

block content
    p.paragraph.
        Я заказал скрипт на питоне, и я не хочу платить.
    p.paragraph.
        Каждый раз получаеться непонятный результат, а я вообще не понимаю этот питон!
    p.paragraph.
        Вот что получаеться на выходе:
    a.paragraph.link(
        href=`${host}/static/tasks-content/code.python.res.txt`
    ) Файл

    p.paragraph.
        Пожалуйста, сломай этот алгоритм, и в замен ты получишь флаг:
    a.paragraph.link(
        href=`${host}/static/tasks-content/code.python.py`
    ) Код задания