extends ../layout

block content
    h1.title А чё тут происходит?
    p.paragraph
        | Собственно, если вкратце, 
        | мне влом вливать задания долго и мутно,
        | тогда как можно одним разом залить всё тут.
        | Плюс, так мне куда проще создать большее количество заданий WEB.
    h1.title Что делать?
    P.paragraph
        | Видишь сверху есть некое подобие меню, 
        | ссылки кликабельны, а надписи содержать в себе смысл.
    h1.title Нужна помощь?
    p.paragraph
        | Если есть вопросы, советую для 
        | начала последовать в Хелпу. 
        | Там ты возможно найдешь инфу, которая может помочь
        | в решении нескольких тасков.
    p.paragraph
        | Также, не забывай о том, что в течении некоторого времени,
        | я скорее всего и так отправлю хинт на таск на основном сайте.
    p.paragraph
        | Если совсем прижало, то ты можешь стукнуть мне либо
        | в телегу, либо в ВК, либо на гит (ну и т.д.), там тебе не совсем культурно
        | я возможно отвечку.
    h2.title Контакты
    p.paragraph
        span.contacts
            p.contact
                | Телега: 
                a.link(href='https://t.me/ilya777grin23') @ilya777grin23
            p.contact 
                | VK: 
                a.link(href='https://vk.com/ilya777grin23') Илья Гриненко
            p.contact
                | GitHub: 
                a.link(href='https://github.com/ilya777grin23') ilya777grin23
    p.paragraph
        | Вероятнее всего, я откликнусь на телегу, а вот на счет прочего - хз.